<spinner [hide]='team'/>


<div *ngIf='team'>
  <a back class='left'>&lsaquo; zpět</a>

  <hr>

  <h1>{{ team.name }} <span *ngIf='team.name_short'>({{ team.name_short }})</span></h1>
  <h5>
    <i *ngFor='let name of team.alternative_names | keyvalue; let last = last'>
      {{ name.key }}<span *ngIf='!last'>,</span>
    </i>
  </h5>

  <br>
  <h3>Turnaje</h3>

  <table *ngIf="team.team_on_tournaments" class="table table-striped">
    <thead>
    <tr>
      <th style="width: 20%">Turnaj</th>
      <th></th>
      <th>Hráči</th>
      <th>Umístění</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let t of team.team_on_tournaments | sort : "-tournament.date"'>
      <td><a routerLink='/tournament/{{ t.tournament.pk }}/{{ t.pk }}'>{{ t.tournament.full_name }}</a>
      </td>
      <td><span *ngIf='t.name != team.name'>{{ t.name }}</span></td>

      <td>
                  <span *ngFor='let player of t.players; let last = last'>
                      <a routerLink='/player/{{ player.pk }}'>{{ player.nickname }}</a>
                      <span *ngIf='!last'>, </span>
                  </span>
      </td>
      <td class="text-center">
        <span *ngIf='t.rank'>{{ t.rank }}.</span>
        <span *ngIf='!t.rank'>-</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
