<spinner [hide]="teams"/>

<div class="search-box mb-2" *ngIf="teams">
  <input [(ngModel)]="search" (ngModelChange)="updateSearch()"
         placeholder="hledat..." class="form-control" type="search"/>
</div>

<smart-table [data]="teams">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th style="width: 20%" scope="col" sortable="name">Jméno</th>
    <th style="width: 30%"></th>
    <th style="width: 30%" scope="col" sortable="medals" direction="desc">Umístění</th>
    <th scope="col">Počet turnajů</th>
  </tr>
  </thead>
  <ng-template #tr let-row>
    <td>{{ row.rowNumber }}</td>
    <td><b><a routerLink="/team/{{ row.pk }}">{{ row.name }}</a></b></td>
    <td>
      <span *ngFor="let name of row.alternative_names | keyvalue; let last = last">
        {{ name.key }}<span *ngIf="!last">,</span>
      </span>
    </td>
    <td>
      <span *ngFor="let count of row.medals; index as i">
          <span *ngIf="count" class="medal medal-{{ i + 1 }}">{{ count }}&times;</span>
      </span>
    </td>
    <td>{{ row.team_on_tournaments.length }}</td>
  </ng-template>
</smart-table>
