<div *ngIf="data">
  <table class="table table-striped">
    <ng-content select="thead"></ng-content>
    <tbody>
      <tr *ngFor="let row of rows">
        <ng-content *ngTemplateOutlet="tr; context: { $implicit: row }"></ng-content>
      </tr>
    </tbody>
  </table>

  <div *ngIf="pageSize && filteredRows">
    <ngb-pagination
      [collectionSize]="filteredRows.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="updateRows()"
      [maxSize]="7"
      [ellipses]="true"
      [rotate]="true"
    ></ngb-pagination>
  </div>
</div>
