<div class="d-flex flex-column min-vh-100 justify-content-between">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container page-width">
    <a class="navbar-brand" href="#">Ufo-IS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Turnaje</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Týmy</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Hráči</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Statistiky</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Brankáři</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Síň rekordů</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Aktuální turnaj</a></li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Co a jak?</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Přihlášení
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="bi bi-google"></i>&nbsp;&nbsp;přes <b>Google</b></a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-facebook"></i>&nbsp;&nbsp;přes <b>Facebook</b></a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;přes <b>jméno</b></a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-arrow-up-square"></i>&nbsp;&nbsp;registrovat</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container page-width py-3">

</div>

<footer class=" py-2 px-5 border-top mt-auto">
  <div class="container justify-content-between align-items-center d-flex flex-wrap page-width">
    <p class="col-md-4 mb-0 text-muted">Vytvořil <a href="mailto:exthran@gmail.com">Thran</a> & Wizy & Mates</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/privacy_policy" class="nav-link px-2 text-muted">Privacy policy</a></li>
    </ul>
  </div>
</footer>


</div>
