<div class="d-flex flex-column min-vh-100 justify-content-between">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container page-width">
    <a class="navbar-brand" routerLink="/">Ufo-IS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/tournaments" routerLinkActive="active">Turnaje</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/teams" routerLinkActive="active">Týmy</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/players" routerLinkActive="active">Hráči</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="stats/canada" routerLinkActive="active">Statistiky</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="stats/goalies" routerLinkActive="active">Brankáři</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/hall_of_records" routerLinkActive="active">Síň rekordů</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/record" routerLinkActive="active">Aktuální turnaj</a></li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/faq" routerLinkActive="active">Co a jak?</a></li>
        <app-user></app-user>
      </ul>
    </div>
  </div>
</nav>

<div id='content' class="container page-width py-3">
  <router-outlet></router-outlet>
</div>

<footer class=" py-2 px-5 border-top mt-auto">
  <div class="container justify-content-between align-items-center d-flex flex-wrap page-width">
    <p class="col-md-4 mb-0 text-muted">Vytvořil <a href="mailto:exthran@gmail.com" target="_blank">Thran</a> & Wizy & Mates</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a routerLink="/privacy_policy" class="nav-link px-2 text-muted">Privacy policy</a></li>
    </ul>
  </div>
</footer>


</div>
