<p>tournament-detail works!</p>

tournament: <span *ngIf="tournamentId">{{ tournamentId }}</span> <br>
team: <span *ngIf="teamId">{{ teamId }}</span>

<div *ngIf="tournament">
  <h1>{{ tournament.full_name }}</h1>

  <ul *ngIf="goalCount">
      <li>lokace: {{ tournament.location }}</li>
      <li>kategorie: {{ tournament.category }}</li>
      <li><b>{{ tournament.team_on_tournaments.length }}</b> týmů odehrálo <b>{{ tournament.matches.length }}</b> zápasů</li>
      <li>celkem se zúčastnilo <b>{{ playerCount }}</b> hráčů</li>
      <li>bylo vstřeleno <b>{{ goalCount }}</b> branek</li>
  </ul>
</div>
