<li *ngIf="!userService.status.logged" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Přihlášení
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item py-2" role="button" (click)="userService.loginGoogle()">
      <i class="bi bi-google"></i>&nbsp;&nbsp;přes<b>Google</b></a>
    <li><a class="dropdown-item py-2" role="button" (click)="userService.loginFacebook()">
      <i class="bi bi-facebook"></i>&nbsp;&nbsp;přes<b>Facebook</b></a>
    <li><a class="dropdown-item py-2" role="button" (click)="this.modalService.open(loginModal)">
      <i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;přes <b>jméno</b></a>
    <li><a class="dropdown-item py-2" role="button" (click)="this.modalService.open(registrationModal)">
      <i class="bi bi-arrow-up-square"></i>&nbsp;&nbsp;registrovat</a>
  </ul>
</li>

<li *ngIf="userService.status.logged && userService.user" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{userService.user.first_name}} {{userService.user.last_name}}
    <span *ngIf="userService.user.player">- {{userService.user.player.nickname}}</span>
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item py-2" (click)="openProfile()" role="button">
      <i class="bi bi-person"></i>&nbsp;&nbsp;profil hráče</a>
    <li><a class="dropdown-item py-2 " (click)="userService.logout()" role="button">
      <i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;logout</a>
  </ul>
</li>


<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Přihlásit se</h1>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>

  <form>
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Uživatelské jméno</label>
        <input class="form-control" [(ngModel)]="loginForm.username" required type="text" name="username">
      </div>

      <div class="mb-3">
        <label class="form-label">Heslo</label>
        <input class="form-control" [(ngModel)]="loginForm.password" required type="password" name="password">
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="logIn()" [disabled]="
                userService.status.loading || !loginForm.username || !loginForm.password
          ">Přihlásit se
      </button>
    </div>

  </form>
</ng-template>


<ng-template #registrationModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Registrovat nového uživatele</h1>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>

  <form>
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Uživatelské jméno</label>
        <input class="form-control" [(ngModel)]="registrationForm.username" required type="text" name="username">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" [(ngModel)]="registrationForm.email" required type="email" name="email">
      </div>

      <div class="mb-3">
        <label class="form-label">Heslo</label>
        <input class="form-control" [(ngModel)]="registrationForm.password" required type="password" name="password">
      </div>

      <div class="mb-3">
        <label class="form-label">Kontrola hesla</label>
        <input class="form-control" [(ngModel)]="registrationForm.password_check" required type="password"
               name="password_check">
      </div>

      <hr>

      <div class="mb-3">
        <label class="form-label">Jméno</label>
        <input class="form-control" [(ngModel)]="registrationForm.first_name" placeholder="nepovinné" type="text"
               name="first_name">
      </div>

      <div class="mb-3">
        <label class="form-label">Příjmení</label>
        <input class="form-control" [(ngModel)]="registrationForm.last_name" placeholder="nepovinné" type="text"
               name="last_name">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
      <button type="submit" class="btn btn-primary" (click)="signUp()" [disabled]="
                userService.status.loading || registrationForm.password !== registrationForm.password_check
                || !registrationForm.password || !registrationForm.username || !registrationForm.email
          ">Registrovat
      </button>
    </div>

  </form>
</ng-template>
