<spinner [hide]="tournaments"/>

<smart-table [data]="tournaments">
  <thead>
  <tr>
    <th style="width: 5%" scope="col">#</th>
    <th style="width: 30%" scope="col" sortable="name">Jméno</th>
    <th style="width: 20%" scope="col" sortable="date" direction="desc">Datum</th>
    <th style="width: 10%" scope="col" >Týmů</th>
    <th style="width: 10%" scope="col" >Lokace</th>
    <th style="width: 10%" scope="col" >Kategorie</th>
  </tr>
  </thead>
  <ng-template #tr let-row>
    <td>{{ row.rowNumber }}</td>
    <td><b><a routerLink="/tournament/{{ row.pk }}">{{ row.full_name }}</a></b></td>
    <td>{{ row.date }}</td>
    <td>{{ row.team_on_tournaments.length }}</td>
    <td>{{ row.location }}</td>
    <td>{{ row.category }}</td>
  </ng-template>
</smart-table>
