ngb-pagination ul {
  justify-content: center !important;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none
}

th[sortable]:before {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px
}

th[sortable].asc:before {
  content: "▲";
}

th[sortable].desc:before {
  content: "▼";
}

div.search-box > input {
  max-width: 300px;
}
